$frontcolor : #fafafa;
$backcolor : white;
$shadowcolor :rgba(0, 0, 0, 0.2);
$titlecolor: #616161;
$linkcolor : red;
$headcolor :#000;
$textcolor:#666;
$textback:rgba(0,0,0,.05);
$backtext:rgba(0,0,0,.25);
$buttoncolor:#ff6f61;;
$ratecolor:#208376;
$buttonback:#e3f8e3;